@charset "UTF-8";
.com-tab-box .tab-content {
  display: none; }

/* μΈν’‹ */
#wrapper {
  display: flex; }

#wrapper aside {
  flex-shrink: 0;
  width: 250px;
  height: 100vh;
  border-right: 1px solid #ddd;
  position: fixed;
  overflow: auto; }
