$mobile-wid : 640px;
$p-color: #1891d8;  //primary color
$fon-size: 14px; // basic font size
$fon-color:#666; //basic font color
$bd-color:#e2e2e2; //border color
$focus-color:#53b1e7; //focus color

$c-black:#111;

.com-tab-box .tab-content{display: none;}

@mixin mobile {
    @media (max-width: #{$mobile-wid}) {
      @content;
    }
  }

@mixin flex($j:flex-start,$a:center,$d:row
) {
    display: flex;
    justify-content: $j;
    align-items: $a;
    flex-direction: $d;
}

@mixin after($width,$height){
    content: "";
    display: inline-block;
    position: absolute;
    width: $width;
    height: $height;
}
@mixin before($width,$height){
    content: "";
    display: inline-block;
    position: absolute;
    width: $width;
    height: $height;
}

@mixin font(
    $s:$fon-size,
    $w:normal,
    $c:$fon-color
) {
    font-size: $s;font-weight: $w;color: $c;
}

@mixin h2 {
    font-size: 30px;margin-bottom: 50px;line-height: 1;color: #000; text-align: center;
}
    
@mixin lastMr0($margin) {
    margin-right: $margin;
    &:last-child{
        margin-right: 0;
    }
}
@mixin lastMb0($margin) {
    margin-bottom: $margin;
    &:last-child{
        margin-bottom: 0;
    }
}


/* μΈν’‹ */
@mixin input-text($h:2.5rem,$bd:1px) {
    height: $h;
    padding: 0 1rem;
    border-radius: 0.25rem;
    border: 1px solid #d5d5d5;border-width: $bd;
    background-color: #fff;
    border-radius: 0.25rem;
    outline: none;
    &::placeholder{color: #888;}
    &:focus{box-shadow: 0px 0px 0.2rem 0px rgba(0,0,0,0.25);border-color: $focus-color;}
}
@mixin input-check($w:1rem,$c:$p-color,$bd:1px) {
        position: absolute;
        height: 0;width:0;
        & + label{
            display: flex;align-items:center;
            &::before{
                content: "";
                display: inline-block;
                width: $w;height: $w;
                border:1px solid #d5d5d5;
                border-radius: 0.2rem;
                border-width: $bd;
                background-color: #fff;
                margin-right: 0.3rem;
            }
    }
    &:checked + label::before{
        background: $c url(../img/icon_check_on.svg) center no-repeat;
        background-size: 70% auto;
        border-color: $p-color;
    }
}




